@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

/* 숨김 제목 및 숨김 컨텐츠 */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  background: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.4rem;
  color: #181818;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 스킵 네비게이션 */

.skip-nav {
  display: none;
}

/* 레이아웃 */

.header,
.visual,
.main,
.slogan {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: #6696ab;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}

/* 로고 */
.logo {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 65px;
}

/* 안내링크 목록 */
.member {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
}

.member li {
  display: inline-block;
  padding: 2px 0;
}

.member a {
  padding: 6px 0;
  display: inline-block;
}

/* 네비게이션 */

.navigation {
  background: royalblue;
  padding-bottom: 80px;
}

.menu {
  background: linear-gradient(to bottom, #a1bcca 0%, #6696ab 38%, #6696ab 63%, #a1bcca 100%);
  padding-left: 0;
  margin: 10px 0 0 0;
  list-style: none;
  height: 47px;
  border-top: 2px solid #181818;
  border-radius: 0 0 5px 5px;
}

.sub-menu {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: none;
}

.menu-button {
  border: none;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  background: transparent;
}

.visual {
  background-color: #a1bcca;
  height: 120px;
}

.main {
  background-color: #dfcbad;
  padding: 30px 15px;
  overflow: hidden;
  min-height: 450px;
}


.group1,
.group2,
.group3 {
  margin: 0 15px;
  float: left;
}

.group1 {
  background-color: #a8814a;
  width: 250px;
}

.group2 {
  background-color: #617b48;
  width: 380px;
}

.group3 {
  background-color: #966734;
  width: 190px;
}



.slogan {
  background-color: #a1bcca;
}

.footer {
  background-color: #af8651;
  width: 100%;
}