@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

html {
  font-size: 10px;
}

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.4rem;
  color: #181818;
}

/* 스킵 네비게이션 */

.skip-nav {
  display: none;
}

/* 레이아웃 */

.header,
.visual,
.main,
.slogan {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: #6696ab;
}

.visual {
  background-color: #a1bcca;
}

.main {
  background-color: #dfcbad;
}

.slogan {
  background-color: #a1bcca;
}

.footer {
  background-color: #af8651;
  width: 100%;
}